<h1>Login</h1>

<div
  *ngIf="message"
  class="alert alert-danger alert-dimissible fade show"
  role="alert"
>
  {{ message }}
  <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>

  <button
    type="button"
    class="Close"
    data-dismiss="alert"
    aria-label="Close"
    (click)="$event.preventDefault()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="well">
  <form #formLogin="ngForm">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="usuario"
        name="usuario"
        [(ngModel)]="login.login"
        #usuario="ngModel"
        required
      />
      <div
        *ngIf="senha.errors && (senha.dirty || senha.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="senha.errors?.['required']">Digite o usuário</div>
      </div>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        type="text"
        class="form-control"
        id="senha"
        name="senha"
        [(ngModel)]="login.senha"
        #senha="ngModel"
        required
      />
      <div
        *ngIf="senha.errors && (senha.dirty || senha.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="senha.errors?.['required']">Digite a senha</div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="logar()"
      [disabled]="!formLogin.form.valid"
    >
      <em class="fa fa-save"></em> Logar
    </button>

    <a class="btn btn-secondary" [routerLink]="['/autocadastro']">
      <i class="fa fa-save"></i> Registrar
    </a>
  </form>
</div>
