<h1>Cidades</h1>

<table class="table table-stripped table-bordered table-hover">
    <tbody>
        <tr>
            <th>Nome</th>
            <th>Estado</th>
            <th class="text-center">
                <a [routerLink]="['/cidades/novo']" href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden=""true></i> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let cidade of cidades">
            <td>{{cidade.nome}}</td>
            <td>{{cidade?.estado?.sigla}}</td>
            <td class="text-center" style="width: 300px">
                <button href="#" title="Ver" alt="Ver" class="btn btn-xs btn-success" (click)="abrirModal(cidade)">
                    <i class="fa fa-eye" aria-hidden="true"></i> Ver
                </button>
                <a [routerLink]="['/cidades/editar/', cidade.id]" href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                </a>
                <a (click)="remover($event, cidade)" href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i> Remover
                </a>
            </td>
        </tr>
    </tbody>
    <p *ngIf="cidades.length == 0">Nenhuma cidade cadastrada!</p>
</table>