<div class="container-fluid">
  <nav class="navbar navbar-expand-md n navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#" routerLink="/pessoas">
      <i class="fa fa-user-edit"></i>
    </a>
    <div class="navbar-collapse collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/pessoas">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/enderecos">Enderecos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/cidades">Cidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/estados">Estados</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link"
            tabindex="0"
            role="button"
            ngbDropdownToggle
            id="navbarDropdown1"
          >
            Cadastros
          </a>

          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdown1"
          >
            <li class="dropdown-item" ngbDropdownItem>
              <a href="#" routerLink="/pessoas">Pessoas</a>
            </li>
            <li class="dropdown-item" ngbDropdownItem>
              <a href="#" routerLink="/enderecos">Enderecos</a>
            </li>
            <li class="dropdown-item" ngbDropdownItem>
              <a href="#" routerLink="/cidades">Cidades</a>
            </li>
            <li class="dropdown-item" ngbDropdownItem>
              <a href="#" routerLink="/estados">Estados</a>
            </li>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
