<h1>Estados</h1>

<table class="table table-stripped table-bordered table-hover">
    <tbody>
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th class="text-center">
                <a [routerLink]="['/estados/novo']" href="#" title="Novo" alt="Novo" class="btn btn-xs btn-success">
                    <i class="fa fa-plus" aria-hidden=""true></i> Novo
                </a>
            </th>
        </tr>
        <tr *ngFor="let estado of estados">
            <td>{{estado.nome}}</td>
            <td>{{estado.sigla}}</td>
            <td class="text-center" style="width: 300px">
                <a [routerLink]="['/estados/editar/', estado.id]" href="#" title="Editar" alt="Editar" class="btn btn-xs btn-info">
                    <i class="fa fa-edit" aria-hidden="true"></i> Editar
                </a>
                <a (click)="remover($event, estado)" href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i> Remover
                </a>
            </td>
        </tr>
    </tbody>
    <p *ngIf="estados.length == 0">Nenhum estado cadastrado!</p>
</table>